*{
	box-sizing: border-box;
}
html{
	height: 300%;
}
body{
	background: radial-gradient(#bdc3c7,black);
	background-repeat: no-repeat;
	padding: 5px;
}
h1{
	background: linear-gradient(90deg,black,#bdc3c7);
	border-radius: 10px;
	border-color: black;
	padding: 5px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 80px;
	margin:0;
}

.container-x{
	width: calc(100% - 200px);
	text-align: center;
	margin:auto;
	/*height: 1000px;*/
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.container-z{
	min-width: 480px;
	min-height: 350px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0,0,0,0.16);

}
.container-z .profile-img{
	width: 125px;
	height: 125px;
	border-radius: 50%; 
	position: absolute;
	top: -65px;
	left:178px;

}
.wrapper{
	margin-top: 65px;
	position: absolute;
	top: 30%;
	left: 34%;
}
.content{
	padding:65px 20px 20px;
}
h2{
	text-decoration: underline;
	text-shadow: grey 1px 0 10px;

}
.fas{
	position: absolute;
	left: 40px;
	top:20px;
	font-size: 35px;
}
a{
	text-decoration: none;
	color: black;
}
h3{
	background-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	margin:0;
	padding: 5px;

}
.clear{
	clear: both;
}
.summary{
	min-height: 500px;
	width: 100%;
	border:3px solid black; 
	border-top:0;
}
.buttons{
    display:block;
    position:absolute;
    top:25px;
    left:375px;

}