*{
	box-sizing: border-box;
}
body{
	padding:0 80px 0;
	background: #eee;
	transition:0.5s;
}
header h1{
	font-family: 'Indie Flower', cursive;
	font-size: 75px;
	margin:0;
	display: inline-block;
}
a{
	text-decoration: none;
	color: black;	
}

header{
	text-align: center;
	padding: 10px;
	min-height: 100px;
	width: calc(100% - 200px);
	margin: auto;
	position: relative;
}

.logo img{
	display:block;
	height: 70px;
	width: 70px;
	position:absolute;
}
.logo{
	display: inline-block;
	margin:10px 0 10px 0;
}
.clear{
	clear: both;
}
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}

.badge-danger{
	background-color: #9c35dc;
}
.badge-danger[href]:hover{
	background-color: #53137a;
}
.container-x{
	width: calc(100% - 200px);
	text-align: center;
	margin:auto;
}
h2{
	text-align: center;
	color: white;
	background-color: #9c35dc;
	border-radius: 10px;
	margin: 0;
	padding-bottom: 5px;
	margin: 0 0 10px;
	position: relative;
}

.logo img:hover{
   transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
    transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
#area{
	width: 100%;
	min-height: 300px;
	margin-bottom: 10px
}

.block{
	min-height: 50px;
	min-width: 250px;
	display: inline-block;
	background-color: white;
	border-radius: .25rem;
}
.block p{
	font-weight: bold;
	margin:0;
	background-color: #9c35dc;
	border-radius: .25rem .25rem 0 0 ;
	color: white;
	position: relative;
}
.form-group{
	margin:0;
}
.btn{
	margin: 20px 0 25px 0;
	color:#9c35dc;
	border-color: #9c35dc;
	min-width: 250px;
	min-height: 75px;
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
}
.btn:hover{
	background-color: #9c35dc;
	border-color: #9c35dc;
	
}
.btn:disabled{
	color: #9c35dc;
}
.btn:disabled:hover{
	color: white;
}
.res{
	display: none;
}
#result{
	width: 100%;
	min-height: 300px;
	margin-bottom: 100px;
}
.buttons{
	position: absolute;
	top: 35%;
}
.fas{
	margin: 5px 10px 0;
	position: absolute;
}
#rangeValue{
	background: white;
	color: black;
}
.block a{
	color: white;
}
#left{
	left: 10px;
}
#right{
	right: 10px;
}
.container-x a{
	color: white;
}
.clear{
	right: 10px;
}
#copy{
	right: 10px;
}
span[copied]:hover::after {
  content: attr(copied);
  position: absolute;
  right: 10px;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

ul{
	list-style: none;
	width: 300px;
    margin: auto;
    padding-left: 50px;
    margin-bottom:10px;
    margin-top:10px;
    text-align: left;
}
li::before{
	content: "\2022";
	color: #2BFD02;
	display: inline-block;
	width: 1em;
  	margin-left: -1em;
}
#save{
    margin: 5px 10px 0;
	position: absolute;
    right:60px;
}
span[saved]:hover::after {
  content: attr(saved);
  position: absolute;
  right: 10px;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}
.toggle{
    box-sizing:content-box;
    float: right;
    background:#fff;
    border:2px solid #9c35dc;
    height:20px;
    width:45px;
    position:absolute;
    top:40px;
    right:10px;
    cursor:pointer;
    border-radius:20px;
    transition:0.5s;
}
.toggle:before{
    content:'';
    position:absolute;
    top:2px;
    left:2px;
    width:16px;
    height:16px;
    background:#9c35dc;
    border-radius:50%;
    transition:0.5s;
}
.toggle.active:before{
    left:27px;
    background:#fff;

}
.toggle.active{
    background:#232729;
    border:2px solid #fff;
}
body.night{
    background:#232729;
}
body.night textarea{
    background:#33393b;
    color:white;
    border-color:#33393b;
    box-shadow:0 0 15px 2px #fff;
}
body.night .form-control:focus{
    background:#33393b;
    color:white;
    border-color:#33393b;
    box-shadow:0 0 15px 2px #fff;
}
body.night h2{
    background:#465055;
    box-shadow:0 0 15px 2px #fff;
}
a.night{
    background-color:#465055;
    box-shadow:0 0 15px 2px #fff;
}
a.night.badge-danger[href]:hover{
    background-color:#535252;
}
a.night.badge-danger[href]:focus{
    background-color:#465055;
}
body.night p{
    background:#465055;
    box-shadow:0 0 15px 2px #fff;
}
img.night{
    content:url(../images/usernight.png);
}
body.night .btn{
    border-color:#465055;
    color:#465055;
}
body.night .btn:hover{
    background-color:#232729;
    color:white;
    border-color:#465055;
}
body.night .btn:disabled{
    background-color:#232729;
    border-color:#465055;
    color:#465055;
}
body.night .btn:not(:disabled):not(.disabled){
    box-shadow:0 0 15px 2px #fff;
    color:white;
}
body.night .btn-outline-success:not(:disabled):not(.disabled):active{
    border-color:#465055;
    background-color:#465055;
}
body.night .btn-outline-success:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 15px 2px #fff;
}
body.night .btn-outline-success:not(:disabled):not(.disabled):hover{
    background-color:white;
    color:#465055;
}
.fa-save .tooltiptext {
  visibility: hidden;
  min-width: 150px;
  background-color: #9c35dc;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -76px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-save .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

body.night .fa-save .tooltiptext {
    color: white;
    background:#465055;
}

.form-control[readonly]{
      background:#33393b;
    color:white;
    border-color:#33393b;
    box-shadow:0 0 15px 2px #fff;
}