*{
	box-sizing: border-box;
}
body{
	background: radial-gradient(#bdc3c7,black);
	min-width: 865px;
	padding: 5px;
	background-repeat: no-repeat;
}
header h1{
	background: linear-gradient(90deg,black,#bdc3c7);
	border-radius: 10px;
	border-color: black;
	padding: 5px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 80px;
	margin:0;
}

.container-x{
	width: calc(100% - 200px);
	text-align: center;
	margin:auto;
	/*height: 1000px;*/
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.container-z{
	width: 880px;
	min-height: 700px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	margin: auto;
	box-shadow: 0 2px 10px rgba(0,0,0,0.16);

}
.container-z .gixi{
    background: white;
    border: 1px solid #434a4f;
	width: 125px;
	height: 125px;
	border-radius: 50%; 
	position: absolute;
	top: -65px;
	left:375px;

}
.wrapper{
	top: 240px;
	left: calc(50% - 440px);
}
.content{
	padding:65px 20px 20px;
}
h2{
	text-decoration: underline;
	text-shadow: grey 1px 0 10px;
    display:inline-block;
}

a{
	text-decoration: none;
	color: black;
}
h3{
	background-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	margin:0;
	padding: 5px;

}
.clear{
	clear: both;
}
.summary{
	max-height: 500px;
	max-width: 100%;
	border:3px solid black; 
	border-top:0;
	overflow:auto;
}
.buttons{
    display:block;
    position:absolute;
    top:25px;
    left:775px;
}
ul{
	display: block;
	margin-left: 0;
    padding-left: 0;
    text-align: left;
    padding:5px;
}
li {
	list-style-type: none;
	border:solid black 2px;
	border-top:solid black 1.5px;
	border-bottom:solid black 1.5px;
	padding: 3px;
	max-height: 200px;
	position: relative;

}

textarea{
	min-height: 190px;
	resize: none;
}
.copy{
	position: absolute;
	top:10px;
	left: 6px;
	cursor: pointer;
}
.form-control{
	padding-left: 20px;
}
#home{
	position: absolute;
	left: 40px;
	top:20px;
	font-size: 35px;
}
p{
    display:inline-block;
    font-size:30px;
    color:white;
    text-align:center;
}
#time{
    margin-right:15%;
    margin-top: 15px;
}
#words{
   margin-left:15%;
}
.arrow{
	margin: 5px 10px 0;
	position: absolute;
}
#right{
    right: 30px;
}
#left{
    left:30px;
}
.angle{
    position: absolute;
	top:173px;
	left:7px;
	cursor:pointer;
}
.form-control.falling[readonly]{
    border: 2px solid black;
    background:#C0C0C0;
}
.angle .tooltiptext {
  visibility: hidden;
  min-width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 50%;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
}

.angle .tooltiptext::before {
  content: "";
  position: absolute;
  top: 30%;
  right:100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent black transparent transparent;
}
.angle:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#home>p{
    color:black;
    font-weight:900;
    font-size:20px;
}

#more-info h3{
    background:black;
    color:white;
    display: inline-block;
    margin-bottom: 3px;
}
#list-info{
    margin:auto;
    width:600px;
}
#list-info li{
    border:none;
}
#list-info li::before{
    color: black;
    content: "\2022";
    margin-left: -1em;
}
#more-info ul{
    display:none;
    padding-left: 50px;
    border-radius: 15px;
    margin-bottom: 5px;
    background: #e5e5e5;
}