*{
	box-sizing: border-box;
}
body{
	padding:0 80px 0;
	background: #eee;
}
h1{
	font-family: 'Indie Flower', cursive;
	font-size: 75px;
	margin:0;
	display: inline-block;
}
a{
	text-decoration: none;
	color: black;	
}

header{
	text-align: center;
	padding: 10px;
	min-height: 100px;
	width: 100%;
}

.logo img{
	display:block;
	height: 70px;
	width: 70px;
}
.logo{
	display: inline-block;
	margin:10px 0 10px 0;
}
.clear{
	clear: both;
}
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
.badge-danger{
	background-color: #9c35dc;
}
.badge-danger[href]:hover{
	background-color: #53137a;
}
.container-x{
	width: calc(100% - 200px);
	text-align: center;
	margin:auto;
}
h2{
	text-align: center;
	color: white;
	background-color: #9c35dc;
	border-radius: 10px;
	margin: 0;
	padding-bottom: 5px;
	margin: 0 0 10px;
}
.translate img{
	height: 25px;
}

.translate {
	background-color:  #eee;
	border:none;
	outline: none;
	display: inline-block;
	cursor: pointer;

}
.logo img:hover{
   transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
    transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
#area{
	width: 100%;
	min-height: 300px;
	margin-bottom: 10px
}

.block{
	min-height: 50px;
	min-width: 250px;
	display: inline-block;
	background-color: white;
	border-radius: .25rem;
}
.block p{
	font-weight: bold;
	margin:0;
	background-color: #9c35dc;
	border-radius: .25rem .25rem 0 0 ;
	color: white;
}
.form-group{
	margin:0;
}
.btn{
	margin: 20px 0 150px 0;
	color:#9c35dc;
	border-color: #9c35dc;
	min-width: 250px;
	min-height: 75px;
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
}
.btn:hover{
	background-color: #9c35dc;
	border-color: #9c35dc;
	
}
.btn:disabled{
	color: #9c35dc;
}
.btn:disabled:hover{
	color: white;
}