.container {
  width: 60%;
  margin: 2rem auto;
}

.text-holder {
  width: 80%;
}

.additional-options-to-text *{
  margin: 10px 20px;
}

mat-expansion-panel {
  margin: 1rem auto;
}

mat-expansion-panel-header {
  display: flex;

}

.text-after-summar {
  text-align: left;
}
