<div class="container">

  <mat-card>

    <mat-card-header>
      <h2>Text Summarization</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="holdText" (ngSubmit)="onAddText(holdText.value)">

        <mat-form-field class="text-holder">
          <textarea matInput formControlName="text" rows="10" placeholder="Put text"></textarea>
        </mat-form-field>

        <div class="additional-options-to-text">
          <mat-form-field>
            <input matInput formControlName="sentences" type="number" min="1" placeholder="Sentences" >
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="percent" type="number" min="1" max="100" placeholder="Percent" >
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="holdText.invalid" type="button" (click)="onAddText(holdText.value)" routerLink='/show-texts' routerLinkActive="active">Press</button>
        </div>

      </form>
    </mat-card-content>

  </mat-card>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let text of textService.getTexts(); let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Text {{ i + 1 }} (sentences: {{ text.sentences }}, percent: {{ text.percent }})</h3>
        </mat-panel-title>
        <mat-panel-description>
          <h3>{{ text.text.substring(0, 15) }} ...</h3>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p class="text-after-summar">{{ text.text }}</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>

