<link rel="shortcut icon" href="{{ url_for('static', filename='images/machine-press.png')}}">

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style/stylesignup.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="box one-edge-shadow" method="POST" action="/signup">
    <h2>Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ form.username(class_="user")  }}
    {{ form.email(class_="email") }}
    {{ form.password }}
      {{ form.confirm }}
    <button class="btn" type="submit">Sign Up</button>
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div class="alert alert-error" style="color: white; padding: 0; margin-bottom: 0;">
            <strong style="color : red">Error!  </strong>{{error}}
        </div>
    {% endfor %}
    {% endfor %}
  </form>

</div> <!-- /container -->
{% endblock %}